{% extends 'base_templates/base_home.html' %}

{% block body %}
<div class="bgc-1">
    <div class="container mt-4">
        <div class="p-3 m-3">
            <div class="col-lg-5 rounded mx-auto border pt-4 well well-opaque" style="margin: 200px auto; float:none;">
                <div class="text-center col">
                <h2>Welcome!</h2>
                <hr>
                </div>
                <h3 class="alert alert-light rounded-pill" style="text-align:center" >Login</h3>
                <form action="/home/login" method="POST">
                    
                    {% csrf_token %}

                    {% if error%}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                    {% endif %}
                    <!-- email -->
                    <div class="form-group">
                        <label for="">Email</label>
                        <input required type="email" name="email" id=""
                        value="{{values.email}}" 
                        class=" form-control-sm form-control" placeholder="abc@gmail.com">
                    </div>


                    <!-- password -->
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" 
                        name="password" 
                        id=""
                        class="form-control form-control-sm" >
                    </div>

                    <!--Checkme button
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label d-grid gap-2" for="exampleCheck1">Check me out</label>
                    </div>
                    TODO  wtf is this checkme button? cross reference with eshop and see if needed-->
                    <hr>
                    <div class="row">
                        <button type="submit" class="btn btn-success col-sm-5">Login</button>
                        <button type="submit" class="btn btn-success col-sm-5">Forgot your Password?</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}