{% extends "base_templates/base_shop.html" %}
{% load static %}


{% block body %}
<!-- writes out the form tag automatically -->
<div class="container-fluid" style="margin: 0px 400px 400px 400px;">
    <table class="table table-bordered">
        Order Summary
        <hr>
        <tr>
            <td>Address:</td>
            <td>address variable goes here</td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>Phone number variable goes here</td>
        </tr>
        <tr>
            <td>Est. Total Price</td>
            <td>Total Price variable goes here</td>
        </tr>
    </table>
    {{ form.render }}
</div>





{% endblock %}