/* Desktop Version Below */
* {
    font-family: 'Spectral', serif;
    /* DEBUGGING CSS BELOW! GREAT CODE 
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important; 
    */
}

.bg-1 { /* about us section background */
    background-color: #1abc9c; /* Green */
    color: #ffffff;
    background-image: url("/static/home/images/shop.jpg");
    background-size:cover; /* or "contain" depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
    height: 1100px;
}

.bg-2 { /* shop section background */
    background-color: #1abc9c; /* Green */
    color: #ffffff;
    background-image: url("/static/home/images/etsy.jpg");
    background-size:cover; /* or "contain" depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
}

.bg-3 { /* education section background */
    background-color: #1abc9c; /* Green */
    color: #ffffff;
    background-image: url("/static/home/images/education.jpg");
    background-size:cover; /* or "contain" depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    margin:auto;
    padding:0;
}

.bg-buffer-1 { /* buffer image section background */
    background-color: #662012; /* Green */
    color: goldenrod;
    background-image: url("/static/home/images/vineBuffer.png");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    text-align:center;
    padding: 0px;
    height: 600px;
}

.bgc-1 { /*background color 1 to be used for sections without background images */
    background-color: #662012;
    color: goldenrod;
}

.bgc-2 { /*background color 1 to be used for sections without background images */
    background-color: #ac331b;
    color: goldenrod;
}

.bg-footer {
    background-color: goldenrod;
    color: #ffffff;
}

/*container-fluid to be used as section headers */
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
/*container-fluid-buffer to be used for buffer in between sections */
.container-fluid.container-fluid-buffer {
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.bufferImage{
    width: 50%;
    max-width: 100%;
    height: auto;
    line-height: 12px;
    font-size: 0;
}


/* cards for products */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 100%;
    color: black;
    background-color: goldenrod;
    margin: 20px;
}

.cardImage {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

/* Add some padding inside the card container */
.cardContainer {
    padding: 2px 16px;
}
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

/* universal text css modifications below */
.well.well-opaque{
    background-color: rgba(245, 245, 245, 0.3);
    border: none;
}

@media screen and (min-width : 768px) {
    .fadeLarge{
        display:none;
    }

   html,body {
       font-family: Montserrat;
       font-style: normal;
       overflow-x: hidden; 
       width: 100%;
       box-sizing: border-box;
       position: relative;
       background-image: white url('/static/home/images/etsy.jpg') no-repeat ;
   }

   .column {
       width: 50%
   }
   .row {
       display:flex;
       justify-content: space-around;
       padding: 10% 0%;
       background-repeat: no-repeat;
       background-position: center;
   } 
   /*text positioning, coloring, font, etc. specific to desktop version */ 
   .wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    min-height: 300px;
  }
}


/* Mobile Version Below */
@media screen and (max-width : 767px) {
   .fadeSmall{
       display:none;
   }
}